package ${virginPackage}.dto;

import java.io.Serial;
import java.util.Date;
import java.io.Serializable;
import java.sql.*;

import jakarta.validation.constraints.*;

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;


/**
* @author Zathura Code Generator Version 23.10 http://zathuracode.org/
* 
* @generationDate ${localDateTime}
*
*/
@Data
@AllArgsConstructor
@NoArgsConstructor
public class ${metaData.getRealClassName()}DTO implements Serializable {

	@Serial
	private static final long serialVersionUID = 1L;
	
	#foreach($member  in $variableDto)	
	 $member	
	#end
}
