package  ${virginPackage}.security;

import javax.crypto.SecretKey;
import io.jsonwebtoken.io.Decoders;
import io.jsonwebtoken.security.Keys;

/**
* @author Zathura Code Generator Version 26.04 http://zathuracode.org/
* 
* @generationDate ${localDateTime}
*
*/
public class SecurityConstants {

	private SecurityConstants() {
		throw new IllegalStateException("SecurityConstants class");
	}

	// Spring Security

	public static final String LOGIN_URL = "/login";
	//Path http://localhost:9090/actuator
	public static final String ACTUATOR_URL = "/actuator/info";
	public static final String ACTUATOR_HEALTH_URL = "/actuator/health/**";
	
	//Path http://localhost:9090/swagger-ui/index.html
	public static final String API_DOCS="/v3/api-docs/**";
	public static final String SWAGGER_UI="/swagger-ui/**";
	
	
	public static final String HEADER_AUTHORIZACION_KEY = "Authorization";
	public static final String TOKEN_BEARER_PREFIX = "Bearer ";

	public static SecretKey buildSecretKey(String encodedSecretKey) {
		return Keys.hmacShaKeyFor(Decoders.BASE64.decode(encodedSecretKey));
	}

}
