package  ${virginPackage}.service;

#set($spring = '$')

import static java.util.Collections.emptyList;

import org.springframework.security.core.userdetails.User;
import org.springframework.security.core.userdetails.UserDetails;
import org.springframework.security.core.userdetails.UserDetailsService;
import org.springframework.security.core.userdetails.UsernameNotFoundException;
import org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.stereotype.Service;
import lombok.RequiredArgsConstructor;

import ${virginPackage}.domain.UserApplication;
/**
* @author Zathura Code Generator Version 25.11 http://zathuracode.org/
* 
* @generationDate ${localDateTime}
* 
*/

@Service
@RequiredArgsConstructor
public class UserApplicationDetailsServiceImpl implements UserDetailsService {

	private final BCryptPasswordEncoder bCryptPasswordEncoder;
	@Value("${spring}{app.security.default-user.username:admin}")
	private String defaultUsername;
	@Value("${spring}{app.security.default-user.password}")
	private String defaultPassword;
	
	@Override
	public UserDetails loadUserByUsername(String username) throws UsernameNotFoundException {
		
		if(username==null) {
			throw new UsernameNotFoundException(username);
		}
		
		if (username.isBlank()) {
			throw new UsernameNotFoundException(username);
		}
		
		if (!username.equals(defaultUsername)) {
			throw new UsernameNotFoundException(username);
		}
	
		UserApplication userApplication=new UserApplication(username,bCryptPasswordEncoder.encode(defaultPassword));
			
		return new User(userApplication.getUsername(), userApplication.getPassword(), emptyList());
	}

}
