package  ${virginPackage}.utility;

/**
* @author Zathura Code Generator Version 23.10 http://zathuracode.org/
* 
* @generationDate ${localDateTime}
*
*/
public class Constants {

	private Constants() {
		throw new IllegalStateException("Constants class");
	}

}
