package  ${virginPackage}.utility;

/**
 * @author Zathura Code Generator Version ${zcodeVersion} http://zathuracode.org/
 * @generationDate ${localDateTime}
*/
public class Constants {

	private Constants() {
		throw new IllegalStateException("Constants class");
	}

}
