package ${virginPackage}.exception;

/**
* @author Zathura Code Generator Version ${zcodeVersion} http://zathuracode.org/
* 
* @generationDate ${localDateTime}
*
*/
public class ConfigException extends VortexbirdException {

	private static final long serialVersionUID = 1L;

	public ConfigException(String exception) {
		super(ErrorType.CONFIG, exception);
	}

	public ConfigException(String exception, Exception e) {
		super(ErrorType.CONFIG, exception, e);
	}
	
	public ConfigException(String exception, String... params) {
		super(ErrorType.CONFIG, exception, params);
	}
}