package ${virginPackage}.exception;

/**
* @author Zathura Code Generator Version 23.10 http://zathuracode.org/
* 
* @generationDate ${localDateTime}
* 
*/
public class SystemException extends VortexbirdException {

	private static final long serialVersionUID = 1L;

	public SystemException(String exception) {
		super(ErrorType.SYSTEM, exception);
	}

	public SystemException(String exception, Exception e) {
		super(ErrorType.SYSTEM, exception, e);
	}
	
	public SystemException(String exception, String... params) {
		super(ErrorType.SYSTEM, exception, params);
	}
}
