package ${virginPackage}.exception;

/**
* @author Zathura Code Generator Version ${zcodeVersion} http://zathuracode.org/
* 
* @generationDate ${localDateTime}
* 
*/

public class UserException extends VortexbirdException {

	private static final long serialVersionUID = 1L;

	public UserException(String exception) {
		super(ErrorType.USER, exception);
	}

	public UserException(String exception, Exception e) {
		super(ErrorType.USER, exception, e);
	}
	
	public UserException(String exception, String... params) {
		super(ErrorType.USER, exception, params);
	}
}