<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">${connectionDriverClass}</property>
		<property name="hibernate.connection.url">${connectionUrl}</property>
        <property name="hibernate.connection.password">${connectionPassword}</property>
        <property name="hibernate.connection.username">${connectionUsername}</property>
        
        ##Schema ORACLE 
        #if(${connectionDriverClass}=='oracle.jdbc.driver.OracleDriver')
        	<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
		#end
		
		
		##Schema POSTGRES 
        #if(${connectionDriverClass}=='org.postgresql.Driver')
        	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		#end
		
		
		##Schema MYSQL 
        #if(${connectionDriverClass}=='com.mysql.jdbc.Driver')
        	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		#end  
		
		
		##Schema SQLSERVER 
        #if(${connectionDriverClass}=='com.microsoft.sqlserver.jdbc.SQLServerDriver')
        	<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		#end 
		
		
		##Schema AS400
        #if(${connectionDriverClass}=='com.ibm.as400.access.AS400JDBCDriver')
        	<property name="hibernate.dialect">org.hibernate.dialect.DB2iDialect</property>
		#end        
    </session-factory>
    
</hibernate-configuration>
