<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">${connectionDriverClass}</property>
		<property name="hibernate.connection.url">${connectionUrl}</property>
        <property name="hibernate.connection.password">${connectionPassword}</property>
        <property name="hibernate.connection.username">${connectionUsername}</property>
        
		#if(${connectionDriverClass}=='oracle.jdbc.driver.OracleDriver')
		##Schema ORACLE
<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
		#end
		#if(${connectionDriverClass}=='org.postgresql.Driver')
		##Schema POSTGRES
<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		#end
		#if(${connectionDriverClass}=='com.mysql.cj.jdbc.Driver')
		##Schema MYSQL 
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		#end  
		#if(${connectionDriverClass}=='com.microsoft.sqlserver.jdbc.SQLServerDriver')
		##Schema SQLSERVER 
<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		#end 
		#if(${connectionDriverClass}=='com.ibm.as400.access.AS400JDBCDriver')
		##Schema AS400
<property name="hibernate.dialect">org.hibernate.dialect.DB2iDialect</property>
		#end        
	</session-factory>
    
</hibernate-configuration>
