package  ${virginPackage}.domain;

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;


/**
* @author Zathura Code Generator Version 23.10 http://zathuracode.org/
* 
* @generationDate ${localDateTime}
* 
*/

@Data
@AllArgsConstructor
@NoArgsConstructor
public class UserApplication {

	private String username;

	private String password;

}
