package ${virginPackage}.domain.service;

/**
* @author Zathura Code Generator Version ${zcodeVersion} http://zathuracode.org/
* 
* @generationDate ${localDateTime}
*
*/

public interface MessageService {

	public String getMessage(String code, String... params);

}
